<div class="container footer" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h4>Links</h4>
        <mat-list>
          <mat-list-item routerLink="/home"><a mat-button>Inicio</a></mat-list-item>
          <mat-list-item routerLink="/"><a mat-button>Acerca</a></mat-list-item>
          <mat-list-item routerLink="/"><a mat-button>Contacto</a></mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="55">
        <h4>Dirección</h4>
        <address>
          Cl. 67 Nº 53 - 108 - Bloque 8 <br> Medellín, Antioquia<br> Colombia<br>
          <i class="fa fa-phone"></i>: +034 219 51 51<br>
          <i class="fa fa-phone"></i>: +034 219 51 40<br>
          <i class="fa fa-envelope"></i>:
          <a class="a-email" href="mailto:comunicacionessistemadebibliotecas@udea.edu.co">Enviar un correo
          </a>
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:center">
      <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
      <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i
          class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i
          class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  </div>
  <div>
    <p>© Copyright 2020 Universidad de Antioquia</p>
  </div>
</div>